
.header {

    display: flex;
    flex-direction: row;
}

.main_container {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.section2{
    color:aliceblue;
}
aside{
    width: 500px;
    height: 700px;
float: right;
}
.sj {
  flex-direction: row;
    width:800px;
    display: flex;
}


#profilepic {
    width: 150px;
    height: 150px;
}

#personDetails
{ 
color: aliceblue;

}
.progressbar {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
}
.skillpair {
  display: flex;
  align-items: center;
  gap: 8px;
}

.square {
 height: 10px;
  width: 10px;
}
.label {
    margin: 0;
}


